@model List<DTOs.Objects.Category>
@{
    ViewData["Title"] = "Display";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Display</h1>

<div class="px-5">
    <table class="table table-striped custom-table-data display" id="table">
        <thead>
            <tr>
                <th scope="col" class="align-middle text-center">Id</th>
                <th scope="col" class="align-middle text-center">Name</th>
                <th scope="col" class="align-middle text-center">Description</th> 
                <th scope="col" class="align-middle text-center">Edit</th> 
                <th scope="col" class="align-middle text-center">Delete</th> 
            </tr>
        </thead>
        <tbody>
            @{
                foreach (DTOs.Objects.Category category in Model)
                {
                    <tr>
                        <td class="align-middle text-center">@category.Id</td>
                        <th class="align-middle text-center">@category.Name</th>
                        <td class="align-middle text-center">@category.Description</td>
                        <td class="align-middle text-center"><a class="btn btn-outline-primary px-4" asp-action="Edit" asp-controller="Categories" asp-route-id="@category.Id">Edit</a></td>
                        <td class="align-middle text-center"><a class="btn btn-outline-danger " asp-action="Delete" asp-controller="Categories" asp-route-id="@category.Id">Delete</a></td>
                    </tr>
                }
            }
           

        </tbody>
    </table>


</div>


@section Scripts {
    <script src="~/js/DisplayProducts.js"></script>
}